.PokemonList {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .1rem;
    grid-template-rows: repeat(7, 1fr);
}

.ctrl {
    
    margin: 1rem 0;
}

.btn {
    color: #eedf0e;
    cursor: pointer;
    margin: 0 .2rem;
}

.btn.disabled {
    color: #7e7605;
    cursor: not-allowed;
}

@media screen and (min-width: 1080px) and (max-width: 1920px) {
    .PokemonList {
        grid-template-columns: repeat(6, 1fr)
    }
}
  
@media screen and (min-width: 800px) and (max-width: 1080px) {
}
  
@media screen and (max-width: 800px) {
}