.Pokemon {
    background-color: #777;
    box-sizing: border-box;
    border-radius: 7px;
    margin: 1px;
    position: relative;
}

.Pokemon .PokemonId, .Pokemon h3 {
    display: inline-block;
}

.Pokemon h3 {
    text-transform: capitalize;
}

.PokemonId {
    position: absolute;
    top: 5px;
    left: 5px;
}

.Pokemon:hover {
    background-color: #999;
}

@media screen and (max-width: 680px) and (min-width: 480px) {
    .Pokemon {
        font-size: .5em;
        background-color: #ff5;
    }
}

@media screen and (max-width: 480px) {
    .Pokemon {
        background-color: rgb(168, 115, 168);
        font-size: .5rem;
    }

    .PokemonId {
        font-size: .3rem;
    }
}