.Details {
    background-color: rgb(255, 215, 85);
    border: 2px solid black;
    border-radius: 20px;
    display: grid;
    margin: 0 auto;
    padding: 1rem;
    right: 10px;
    text-align: left;
    top: 5px;
    width: 70%;
    z-index: 5;
    grid-template-columns: 1fr 1fr;
}

.left-side {
    display: grid;
    grid-template-rows:3fr 1fr 1fr;
    text-align: center;
}

.left-side img {
  margin: 0 auto;
}

.left-side .types {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.PokemonName {
  text-transform: capitalize;
  font-weight: 600;
  margin: 0 auto;
}

.right-side {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 1rem;
}

.right-side label {
  font-weight: bold;
}

.Details .stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: .6rem;
}

.Details .stats > span {
  display: grid;
  grid-template-columns: 1fr;
}

.Details .stats label {
  font-weight: bold;
}

@media screen and (min-width: 1080px) and (max-width: 1920px) {
  .Details .stats {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 800px) and (max-width: 1080px) {
  .Details .stats {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
    .right-side > div{
      font-size: .9rem;
    }
} 