.App {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  border: none;
}

.App h1 {
  margin: 5px 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App input {
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 2px 10px;
  width: 80%;
}

header {
  background-color: #b71818;
  box-sizing: border-box;
  border-bottom: 7px solid black;
  height: 150px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.expand {
  animation: increase-header-height .1s ease-in forwards;
}

.expand-section {
  animation: increase-section-margin .1s ease-in forwards;
}

.contract {
  animation: decrease-header-height .1s ease-in forwards;
}

.contract-section {
  animation: decrease-section-margin .1s ease-in forwards;
}

.appear {
  /* animation-delay: 1s; */
  animation: fade-in .5s linear forwards;
}

@keyframes increase-header-height {
  from {height: 150px;}
  to {height: 300px}
}

@keyframes increase-section-margin {
  from {margin-top: 160px;}
  to {margin-top: 310px}
}

@keyframes decrease-header-height {
  from {height: 300px;}
  to {height: 150px}
}

@keyframes decrease-section-margin {
  from {margin-top: 310px;}
  to {margin-top: 160px}
}


@keyframes fade-in {
  from{opacity: 0;}
  to {opacity: 1;}
}

/* header::after {
  content:' ';
  width: 10%;
  margin: 0 auto;
  background-color: white;
  border-radius: 50px;
} */

section {
  margin-top: 160px;
  z-index: 5;
}

.header-wrapper {
  width: 80%;
  margin: 0 auto;
}

.ball-button {
  background-color: white;
  border: 7px solid black;
  border-bottom: none;
  border-radius: 30px 30px 0 0;
  position: absolute;
  bottom: 0;
  left: 42%;
  height: 20px;
  width: 40px;
}

@media screen and (min-width: 680px) and (max-width: 1920px) {
  .ball-button  {
      left: 48%;
  }
}