.App {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  border: none;
}

.App h1 {
  margin: 5px 0;
}

.App input {
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 2px 10px;
  width: 80%;
}

.expand-section {
  animation: increase-section-margin .1s ease-in forwards;
}

.contract-section {
  animation: decrease-section-margin .1s ease-in forwards;
}

.appear {
  animation: fade-in .5s linear forwards;
}

@keyframes increase-section-margin {
  from {margin-top: 160px;}
  to {margin-top: 310px}
}

@keyframes decrease-section-margin {
  from {margin-top: 310px;}
  to {margin-top: 160px}
}

@keyframes fade-in {
  from{opacity: 0;}
  to {opacity: 1;}
}


section {
  margin-top: 160px;
  z-index: 5;
}

.header-wrapper {
  width: 80%;
  margin: 0 auto;
}

.ball-button {
  background-color: white;
  border: 7px solid black;
  border-bottom: none;
  border-radius: 30px 30px 0 0;
  position: absolute;
  bottom: 0;
  left: 42%;
  height: 20px;
  width: 40px;
}

@media screen and (min-width: 680px) and (max-width: 1920px) {
  .ball-button  {
      left: 48%;
  }
}